In [1]:
import pandas as pd
data = pd.read_csv('./data/data_chuyen_khoan.csv')
data

,date_time,trans_no,credit,debit,detail
0,01/09/2024_5215.97152,1,3000,0,267515.010924.122904.NGUYEN THI MAO Chuyen tien
1,01/09/2024_5219.24714,2,10000,0,018806.010924.213139.chuc mung ngay 29 nuoc co...
2,02/09/2024_5212.22965,3,10000,0,055464.020924.064157.Ung Ho Nha Nuoc Viet Nam ...
3,02/09/2024_5245.21394,4,10000,0,MBVCB.6924605040.gia dinh Dung Thuy Giang chuc...
4,02/09/2024_5078.73943,5,50000,0,MBVCB.6925071164.mung ngay quoc khanh.CT tu 10...
...,...,...,...,...,...
200342,10/09/2024_5388.11187,200343,50000,0,02009704220910223853202476ZJ134355.11187. 2238...
200343,10/09/2024_5388.11188,200344,20000,0,0200970422091022385320241ELG716640.11188 .2238...
200344,10/09/2024_5017.1381,200345,200000,0,806831.100924.223849.PHUONG HOANG MY UYEN ho t...
200345,10/09/2024_5388.10883,200346,26000,0,0200970422091022385420246QWS324586.1088 3.2238...
200346,10/09/2024_5243.74128,200347,50000,0,MBVCB.6998622971.Gui dong bao.CT tu 1031339366...

In [5]:
import pandas as pd

df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c']
})

df2 = pd.DataFrame({
    'A': [4, 5, 6],
    'B': ['d', 'e', 'f']
})

# Nối hai DataFrame theo hàng
result = pd.concat([df1, df2], ignore_index=False)
result

   A  B
0  1  a
1  2  b
2  3  c
0  4  d
1  5  e
2  6  f